<!doctype html>
<html>
<head>
  <title>Movie Finder</title>
  <link rel="shortcut icon" href="/images/PopcornKernel2.gif"/>
  	<!-- Icon pic in tab -->
</head>
<body>
      <%= yield  %>
</body>
</html>