<h1>Search for a Movie</h1>
<form method="get" action="/results">
	 <input placeholder="Enter Movie Title" name="movie" type="search">
	 <input type="submit" value="Search"> 
</form>
<h2>Or add a movie to our database</h2>
<form method="get" action="/movies/new">
	 <!-- <input placeholder="Enter Movie Title" name="movie" type="search"> -->
	 <input type="submit" value="Add New Movie"> 
</form>